<h2>All Shelters</h2>
<div id="index_all">
  <%= render partial: "/shelters", object: @shelters %>
</div>
<br>
<h2>Shelter's with Pending Applications</h2>
<div id="pending_shelters">
  <%= render partial: "/shelters", object: @shelters_with_pending %>
</div>